.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.profile-count{
    display: flex;
    font-weight: 400;
    justify-content: center;
    width: 200px;
    padding:10px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


