.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5px;
    border: 1px solid rgb(130, 130, 130);
    width: 350px;
    text-align: center;
    border-radius: 15px;

}
.card-header{
    width:80%;
    border-bottom: 1px solid black;
    margin:5px;
    text-transform: capitalize;
    
}
.card-name{
    font-weight: bold;
    text-transform:capitalize;

}
.card-position{
    text-align: center;
    border-radius: 5px;
    background:rgb(222, 222, 222);
    padding: 5px;
}
.card-body{
    margin:5px;

}
.icon{
    width:25px;
    align-self: center;
    margin-right:5px
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lowercase{
    text-transform: lowercase;
}

a, a:link, a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    background:rgba(169, 169, 169, 0.333)
}
