.footer {
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
  width: 100%;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  margin: 0 15px;
  align-items: center;
  font-size:  20px;
}

.footer .container a h1 {
  font-size: 20px;
}

.footer .container span {
  margin-left: 10px;
  margin-top: 2px;
  font-size: 14px;
}

