html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#FFD600;
}
.content{
  max-width: 1260px;
  margin: 0 auto;
}

.header-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hiring {
  flex: 1;
  max-height: 90vh;
}

.topbar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.topbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  padding: 24px 0;
}
.btn-add {
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  color: #9fa9bc;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1rem;
  font-weight: normal;
  justify-content: center;
  margin: 0 8px;
  padding: 10px;
  white-space: nowrap;
}
.filters {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  padding: 24px 0;
  margin: 0 5px;
}

.filters__search {
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  justify-content: stretch;
  margin-right: 8px;
  overflow: hidden;
  width: 100%;
  margin: 0 5px;
}

.filters__search__input {
  display: flex;
  background: transparent;
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding: 5px 5px;
  width: 100%;
  border-radius: 4px;
  margin: 5px;
}

.filters__search__icon {
  background: transparent;
  font-size: 1.4rem;
  color: #9fa9bc;
}

.filters__search__icon:hover {
  color: #4c84ff;
}

::placeholder {
  color: #4E4E4E;
  font-weight: normal;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid rgb(130, 130, 130);
  width: 350px;
  text-align: center;
  border-radius: 15px;
}
.card-header {
  width: 80%;
  border-bottom: 1px solid black;
  margin: 5px;
  text-transform: capitalize;
}
.card-name {
  font-weight: bold;
  text-transform: capitalize;
}
.card-position {
  text-align: center;
  border-radius: 5px;
  background: rgb(222, 222, 222);
  padding: 5px;
}
.card-body {
  margin: 5px;
}
.icon {
  width: 25px;
  align-self: center;
  margin-right: 5px;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lowercase {
  text-transform: lowercase;
}

a,
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  background: rgba(169, 169, 169, 0.333);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.profile-count {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid rgba(10, 116, 0, 0.4);
}
.btn-profile {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgb(51, 142, 216);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  color: rgb(51, 142, 216);
  display: flex;
  flex-wrap: nowrap;
  font-size: 1rem;
  font-weight: normal;
  justify-content: center;
  margin: 0 12px;
  padding: 10px;
  white-space: nowrap;
}

.section-profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-alert-section {
  display: flex;
  padding: 6px 16px;
  font-size: 0.875rem;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
  color: #fff;
  font-weight: 500;
  background-color: #ff9800;
  text-align: center;
}

a, a:link, a:visited {
  text-decoration: none;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:15px;
  max-width: 1020px;
  margin:0 auto;
}
.navbar :nth-child(1){

}
.btn-menu{
  color: #000000;
  border:1px solid #000000 !important;
  border-radius: 30px !important;
  padding: 5px 30px !important;
}
.professional-container{
  display: flex;
  flex-direction: column;
}


.header-content{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.main-img{
 width: 90%;
 margin:80px auto;
 max-width: 650px;
}

.main-text{
  text-align: center;
  font-size: 1.3rem;
  margin:20px;

}
.text-bold{
  font-weight: bold;
}
.text-ask{
  font-size: 1.5rem;
  font-weight: bold;
  margin:5px auto
}
.btn-header-group{
  display: flex;
  flex-direction: column;
  margin:30px auto;
}
.btn-primary{
  color: #fff;
  background-color: #4E4E4E;
  font-size: 1.2rem;
  font-weight: bolder;
  padding:10px 20px;
  border-radius:20px;
  margin-bottom:10px;

}
.btn-secondary{
  color: #4E4E4E;
  font-size: 1.2rem;
  font-weight: bolder;
  padding:9px 25px;
  border-radius:20px;
  border:1px solid #4E4E4E;
}

.partner-container{
  background:#4E4E4E;
  width: 90%;
  margin: 0 auto;
  color:#fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:30px auto;
}

.partner-title{
  font-size:1.5rem;
}

.partner-content{
  font-size: 1.2rem;
  text-align: center;
  margin: 0 30px;
}
.partner-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-logo :nth-child(n){
  margin:0 5px;
}

.btn-yellow{
  color: #4E4E4E;
  background-color: #FFD600;
  font-size: 1.2rem;
  font-weight: bolder;
  padding:10px 20px;
  border-radius:20px;
  margin-bottom:20px;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:90%;
  margin: 0 auto;
  max-width: 500px;
  min-height: 55vh;
}
.btn-green{
  color: #fff;
  background-color: #4AC300;
  border:none;
  font-size: 1.2rem;
  font-weight: bolder;
  padding:10px 20px;
  border-radius:20px;
  margin-bottom:5px;
}
.form-input{
  border: 1px solid #4E4E4E;
  font-size: 1rem;
  border-radius:20px;
  margin-bottom:10px;
  background: transparent;
  padding:10px 15px;
  color: #2F2E41;
}
.login-form > button{
  margin-top: 5px;
}
.label{
  font-size:1.1rem;
  font-weight:bold;
  margin-bottom: 5px;
}
.text-danger{
  color: #9f0303;
  background:#eba0a0;
  max-width: 300px;
  text-align:center;
  padding:5px 15px;
  border-radius:15px;

}
.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:90%;
  margin: 0 auto;
  height: 60vh;
  max-width: 500px;
}
.signup-form > button{
  margin-top: 10px;
}
.text-after{
  margin: 0;
  text-align: center;
}
.login-img{
 height: 200px;
 margin-top: 30px;
}
.footer{
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;

}
.footer-container{
  margin:10px;
}




