@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility !important;
    height: 100%;
    width: 100%;
    background: #ededed;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hiring {
    flex: 1;
    max-height: 90vh;
}

.filters {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 24px 0;
}

.btn-add {
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    color: rgb(20, 87, 212);
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: normal;
    justify-content: center;
    margin: 0 8px;
    padding: 10px;
    white-space: nowrap;
}

.filters {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 24px 0;
    margin: 0 5px;
}

.filters__search {
    background: #fff;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: stretch;
    margin-right: 8px;
    overflow: hidden;
    width: 100%;
    margin: 0 5px;
}

.filters__search__input {
    display: flex;
    background: transparent;
    border: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    padding: 5px 5px;
    width: 100%;
    border-radius: 4px;
    margin: 5px;
}

.filters__search__icon {
    background: transparent;
    font-size: 1.4rem;
    color: #9fa9bc;
}

.filters__search__icon:hover {
    color: #4c84ff;
}

::placeholder {
    color: #9fa9bc;
    font-weight: normal;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 350px;
    text-align: center;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    background: #fff;
}

.card-header {
    width: 80%;
    margin: 5px;
    text-transform: capitalize;
}

.card-name {
    font-weight: 100;
    font-size: 1.1rem;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.card-position {
    text-align: center;
    border-radius: 5px;
    background: #3498db;
    color: #fff;
    font-size: 1.2rem;
    padding: 8px;
}

.card-body {
    margin: 5px;
}

.icon {
    width: 25px;
    align-self: center;
    margin-right: 5px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin a {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 10px;
}

.linkedin a:hover {
    background: none;
}

.linkedin a>svg {
    color: #444;
}

.linkedin a>svg:hover {
    color: #3498db;
}

.lowercase {
    text-transform: lowercase;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    background: rgba(169, 169, 169, 0.333);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.profile-count {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid rgba(10, 116, 0, 0.4);
}

.btn-profile {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgb(51, 142, 216);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    color: rgb(51, 142, 216);
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: normal;
    justify-content: center;
    margin: 0 12px;
    padding: 10px;
    white-space: nowrap;
}

.section-profile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-alert-section {
    display: flex;
    padding: 6px 16px;
    font-size: 0.875rem;
    line-height: 1.43;
    border-radius: 4px;
    letter-spacing: 0.01071em;
    color: #fff;
    font-weight: 500;
    background-color: #ff9800;
    text-align: center;
}